<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xjfd.ssm.dao.GetWindNameMapper">

	<select id="getWindName" resultType="cn.xjfd.ssm.pojo.WindGenerator">
		SELECT
		g.ID AS id,
		g. NAME AS NAME
		FROM
		generator g
	</select>
	
	<select id="getWindId" resultType="Integer">
		SELECT
		e.bayid AS id
		FROM
		generator g,
		equipment e
		WHERE
		g.ID = e.id
	</select>
	
</mapper>